# Data and Local Storage
data/raw/*
!data/raw/.gitkeep
db/*.db

# ruff
.ruff_cache/

# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/
.coverage

# Environment
venv/
.venv
.env

# OS
.DS_Store
Thumbs.db

# Excel temp/lock files
~$*.xlsx

# Editor Settings
.vscode/
.idea/